<center>
<h1>Bienvenido a miguelOO</h1>
<font color = 'red'><h2>Entorno de desarrollo</h2></font>
</center>
<p>
<b><a href="http://hidrogeno.unileon.es/miguel-web" target="_blank">miguel</a></b> es una herramienta de aprendizaje
distribuido que puede ser utilizada en cualquier entorno gracias a que es <b>Software Libre</b>.
</p>
<p>
<b><a href="http://hidrogeno.unileon.es/miguel-web" target="_blank">miguel</a></b> est&aacute; siendo desarrollada por
 <a href="http://www.hispalinux.es" target="_blank">Hispalinux</a>. Es un proyecto promovido por Gesti&oacute;n Libre
 y SL-Educaci&oacute;n.
</p>
<p>
Si desea visitar el campus, puede acceder con el usuario <b>guest</b> con la clave <i>guest</i>.
</p>
<p>
Si lo que desea es ponerse en contacto con el equipo de desarrollo solo tiene que escribir un correo a la siguiente
 direcci&oacute;n <a href='mailto:e-learning-desarrollo@listas.hispalinux.es'>e-learning-desarrollo@listas.hispalinux.es</a>
  y hacernos llegar sus inquietudes.
</p>
<br>
