<center>
<font color='#992525' ><h2>Facultad de Ciencias de la Educaci&oacute;n</h2></font>
</center>
<p class='tex'>
La facultad de Ciencias de la Educaci&oacute;n, con el objetivo de brindar a sus alumnos un servicio de alta
 calidad y ajustado a las necesidades de la sociedad de la informaci&oacute;n y la comunicaci&oacute;n en la
 que vivimos inmersos, pone a disposición de sus alumnos la posibilidad de participar en acciones formativas
 del ICE y de desarrollar asignaturas de las diferentes titulaciones de la facultad atrav&eacute;s de su
 entorno virtual de aprendizaje.
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
