.notethis
{
    border:           thin double Black;
    margin-left:      15px;
    margin-right:     15px;
}
table#install
{
    border:           0;
}
.cell-install
{
    background-color: navy;
    padding:          5px 5px 5px 5px;
}
table#install tr#first-child td
{
    padding:          6px 6px 6px 6px;
    vertical-align:   top;
}
div.correct-align
{
    text-align:       right;
}
div#sqltodo
{
    color:            blue;
}
div#step-7
{
    text-align:       center;
}
input#refresh
{
    text-align:       center;
}
